<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="model.vo.StudentVO" alias="Student"/>
		<typeAlias type="model.vo.DepartmentVO" alias ="Department" />
	</typeAliases>


	<mappers>
		<mapper resource="mappers/mapper-student.xml"/>
	</mappers>
	
</configuration>