<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원조회</h1>
	<form action="/find.do" method="post">
		<!-- action 작성은 동일하게 해줌 type 이제부터 hidden 사용 안함 
		input type="hidden" name="command" value="findMember"" -->
		<!-- 아이디 : <input type="text" name="id"><br>
		주소 : <input type="text" name="addr"><br>
		<input type="submit" value="조회"> -->
		
		
		<label><input type="checkbox" name="checkId" value="aa">aa
		</label>
		
		<label><input type="checkbox" name="checkId" value="bb">bb
		</label>
		
		<label><input type="checkbox" name="checkId" value="cc">cc
		</label>
		
		<input type="submit" value="조회">
		
	</form>
</body>
</html>